<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="container mt-5">
        <h1>All Exercises</h1>
        <% if (exercises.length > 0) { %>
            <ul class="list-group">
                <% exercises.forEach((exercise) => { %>
                    <li class="list-group-item"><%= exercise.type %> - <%= exercise.video_link %> - Weight: <%= exercise.weight %> Reps: <%= exercise.reps %></li>
                <% }); %>
            </ul>
        <% } else { %>
            <p>No exercises found</p>
        <% } %>
    </div>
</body>
</html>
