<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/userinfo.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        
</head>

<body>

    <div class="container1">
        <h1>Personal infromation</h1>
    </div>
        <p class="container">Username: <%= user.username %></p>
        <p class="container">Email: <%= user.email %></p>
        <p class="container">Age: <%= user.age %></p>
        <p class="container">Gender: <%= user.gender %></p>
        <p class="container">Weight: <%= user.weight %> kg</p>
        <p class="container">Height: <%= user.height %> cm</p>
        <p class="container">Experience: <%= user.experience %></p>

        <h3 class="container">You are <%= user.user_id %> user on this site</h3>
    
    <div class="footer">
        <%- include('partials/footer') %>
    </div>
    <br>
</body>

</html>
